body {
  font-family: "Poppins", serif;
  background-color: #272044;
}

.container {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/tanote-bay.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: white;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  padding: 90px 0;
}

header h1 {
  font-size: 96px;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  line-height: 1.5;
}

header h2 {
  font-size: 40px;
  margin: 0px;
  font-weight: 400;
  line-height: 1.5px;
}

header h3 {
  font-size: 24px;
  margin: 0px;
  font-weight: 900px;
  letter-spacing: 5px;
  line-height: 1.5;
}

header a {
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 16px 32px;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 3px;
  text-decoration-color: (39, 32, 68);
  line-height: 1.5;
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
}

.header-content {
  padding-top: 60px;
  padding-bottom: 50px;
}

.container-why-koh-tao {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  max-height: 100%;
}

.why-koh-tao-image {
  width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 30px;
  margin-top: 65px;
}

.container-why-koh-tao h2 {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.3;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.container-why-koh-tao h3 {
  font-size: 40px;
}

.container-why-koh-tao p {
  opacity: 0.7;
}

.footer-image h2 {
  font-size: 20px;
  line-height: 30px;
}

.footer-image {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/sairee-beach.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.grid-footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin-top: 250px;
  row-gap: 64px;
  padding: 100px;
  max-width: 100%;
  color: white;
}

.useful-links {
  color: white;
  list-style: none;
}

.grid-item li {
  list-style: none;
  opacity: 0.7;
}

.grid-item ul {
  padding: 0;
}

.grid-item p {
  opacity: 0.7;
}

.github-reference {
  text-decoration: underline !important;
  opacity: 0.7;
  cursor: pointer;
  color: white;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
  color: #272044;
}

main .btn {
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #462cb3;
  text-decoration: none;
  padding: 16px;
  max-width: 300px;
  text-decoration: none;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid {
  gap: 64px;
}

.card {
  background-color: white;
  margin: 30px 20px;
  padding-left: 40px;
}

.text-center {
  text-align: center;
}

section {
  background-color: white;
}

section h3 {
  font-size: 40px;
}

section h2 {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.3;
  text-transform: uppercase;
  letter-spacing: 5px;
}

section .secondary-section {
  background-color: #f8f8f8;
}

.cafe-img {
  max-height: 225px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {
  header {
    padding: 30px 10px;
  }

  header h1 {
    font-size: 46px;
  }

  header h2 {
    font-size: 12px;
  }

  h3 {
    font-size: 10px;
  }

  header a {
    font-size: 6px;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 20px;
  }

  .grid-container {
    padding: 0;
  }

  .grid-3-columns {
    display: block;
    grid-template-columns: 1fr;
    margin: 20px 60px;
    text-align: center;
  }

  .container-why-koh-tao {
    display: flex;
    justify-content: block;
    margin: 0 auto;
    background-color: white;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    max-height: 100%;
  }

  .container-why-koh-tao h3 {
    font-size: 20px;
  }

  section h3 {
    font-size: 20px;
  }

  .container-why-koh-tao p {
    font-size: 14px;
  }

  .why-koh-tao-image {
    display: none;
  }

  .footer-image h2 {
    font-size: 10px;
    line-height: 1;
  }

  .grid-item li,
  p {
    font-size: 5px;
  }
  .footer-image {
    padding: 0;
    margin-bottom: 0;
    display: none;
  }
  .grid-item {
    padding-bottom: 0;
    margin-bottom: 0;
    display: block;
    grid-template-columns: 1fr;
    font-size: 40px;
  }

  .grid-item h2 {
    font-size: 20px;
  }

  .grid-item a,
  p {
    font-size: 14px;
  }

  .grid-container {
    display: block;
    text-align: center;
  }
}
